 <nav class="uk-navbar uk-navbar-attached">
    <div class="uk-grid">
        <div class="uk-width-1-4 uk-text-center" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-icon-bars uk-icon-large"></a>
            <div data-bind="template: {name: 'dropdown'}" class="uk-dropdown uk-text-left"></div>
        </div>
        <div class="uk-width-2-4 uk-text-center">
            <h1>About</h1>
        </div>
    </div>
</nav>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <img src="img/jerusalem_2015.jpg" />
            <h1>What is EMPOWERED21?</h1>
            <p>Empowered21 is an initiative and relational network that is designed to strengthen and resource the Spirit-empowered movement.</p>

            <h1>MISSION STATEMENT</h1>
            <p>Empowered21 will help shape the future of the Global Spirit-empowered movement throughout the world by focusing on crucial issues facing the movement and connecting generations for intergenerational blessing and impartation.</p>

            <h1>PURPOSES</h1>
            <ul>
                <li><b>To Unite</b> the Global Spirit-filled movement together intergenerationally for the purpose of seeking a fresh outpouring of the Holy Spirit in the 21st Century</li>
                <li><b>To Focus</b> the energy and resources of the Spirit-empowered global church on the harvest and challenges before us</li>
                <li><b>To Provide</b> a platform for addressing the crucial issues facing the 21st Century Spirit-empowered church</li>
                <li><b>To Discover</b> contemporary methods, vocabulary, spiritual grace and relational favor needed for engaging every generation in Spirit- empowered living</li>
                <li><b>To Witness</b> greater convergence and collaboration of Spirit-empowered ministries around the World</li>
            </ul>
            <h1>Celebrate Pentecost at the Birthplace of Pentecost</h1>
            <h2>Jerusalem 2015 Global Congress</h2>
            <ul>
                <li>Celebrate Pentecost at the birthplace of Pentecost.</li>
                <li>Have an authentic experience with God’s presence that will ignite your faith and change your life forever</li>
                <li>Gather 10,000 Spirit-empowered believers</li>
                <li>Have representation from every nation on earth</li>
                <li>Create an environment of excellence and openness</li>
                <li>Pray that representation from every nation on earth will be present at the Jerusalem 2015 Global Congress.</li>
            </ul>
           <p> The largest Christian gathering in Jerusalem in modern history is being planned for the week of Pentecost, May 20-25, 2015. Times of ministry, worship, learning, conversation, and sight-seeing tours will combine to create the opportunity of a lifetime. Walk where Jesus walked. Join in 24-hour prayer in the Upper Room. Receive a fresh touch of the Holy Spirit. http://empowered21.com/</p>
        </div>
    </div>
</div>