<div class="uk-container um-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="widget">
                <div class="widget-header">
                    <i class="uk-icon-info-circle"></i>
                    <h3>About</h3>
                </div>
                <div class="widget-content">
					<img src="img/three-amigos.gif" style="width: 100%;" />
					<p>GreyBack Labs<br />
					1619 S. Kentucky<br />
					Suite F-670<br />
					Amarillo, TX 79109<br />
					Phone: (806) 553-5252<br /></p>
					<p>At Greyback Labs we are always looking for ways to make your life easier. We hope this little app benefits the 3-4 people who might end up using it. Just remember we love you and we will do anything for our clients.  There is no request too small.  </p>
					<p>Please be responsible when posting images and or videos that might embarrass you or your kids. We want to help you avoid public humiliation.  Your children don’t need to suffer anymore than they already have to.</p>
					<p>If you have read this far know we love you, you are great, and if you are needing to waste more time, we recommend checking out <a href="http://www.wimp.com" target="_blank">wimp.com</a></p>
					<p>Thanks!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-bind="template: {name: 'footer_template'}"></div>