 <nav class="uk-navbar uk-navbar-attached">
    <div class="uk-grid">
        <div class="uk-width-1-4 uk-text-center" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-icon-bars uk-icon-large"></a>
            <div data-bind="template: {name: 'dropdown'}" class="uk-dropdown uk-text-left"></div>
        </div>
        <div class="uk-width-2-4 uk-text-center">
            <h1>APP INFO</h1>
        </div>
    </div>
</nav>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <img src="img/empowered21_logo.png">
            <h3>ABOUT THIS APP</h3>
            <p>Our desire, through Jerusalem 2015, is to be an open vessel to allow the Holy Spirit to touch the lives of millions around the world.</p>
            <h3>PARTNERS</h3>
            <div class="dark">
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-text-center">
                        <a href="http://www.cfn.org"><img src="img/cfni.png" /></a>
                    </div>
                    <div class="uk-width-1-2 uk-text-center">
                        <a href="http://www.empowered21.com"><img src="img/oru_logo.png" /></a>
                    </div>
                </div>
            </div>
            <h3>DEVELOPERS</h3>
            <div class="uk-grid">
                <div class="uk-width-1-4">&nbsp;</div>
                <div class="uk-width-1-2 uk-text-center">
                    <a href="http://www.threeleaf.net"><img src="img/threeleaf.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
