<div class="uk-container um-container-center">
	<div class="uk-grid">
		<div class="uk-width-1-1">
			<div class="widget">
				<div class="widget-header">
					<i class="uk-icon-cog"></i>
					<h3>Settings</h3>
				</div>
				<div class="widget-content">
					<div class="uk-grid">
						<div class="uk-width-1-2">
							<a data-bind="click: user.logout" class="uk-button uk-width-1-1" href="#">Log Out</a>
						</div>
						<div class="uk-width-1-2 uk-text-right">
							<a href="#!/debug" class="uk-button uk-width-1-1" href="#">Debug</a>
							version 2.0.0
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-bind="template: {name: 'footer_template'}"></div>
